.title
  font-size: 1.25em

.more
  margin: 2em 0 1em

.more a
  border-radius: 2px
  border: 1.5px solid $link-color
  padding: .4em .8em
  transition: .2s background, .2s color

.more a:hover
  color: #fff
  background: $link-color
  text-decoration: inherit

.archive
  font-size: 1.1em

.archive time
  display: inline-block
  min-width: 10ch
  min-height: 1.75em
  margin: 0 .2em

.icon
  height: 1em
  width: 1em
  fill: currentColor
  transition: .2s color
  vertical-align: middle
  margin-bottom: .15em

.post-categories
  margin-top: 5%

.post-tags
  margin-top: 2%

.category-box
  color: #484848
  border: 1px solid
  border-color: #DCDCDC
  border-radius: 3px
  padding: 4px
  margin: 3px

.category-box:hover
  color: rgb(254, 198, 77)

a:hover .icon
  color: reduce(100)

.tag-box
  background-color: #DCDCDC
  color: #484848
  border-radius: 3px
  padding: 4px
  margin: 3px

.tag-box:hover
  color: rgb(238, 139, 234)

.category-cloud
  margin-bottom: 3%

.categories-button
  margin-right: 3%
  padding: 1%
  box-shadow: 0px 3px rgb(254, 176, 21)
  background-color: rgb(254, 198, 77)
  border-radius: 6px

.categories-button a
  color: white

.categories-button a:hover
  color: rgb(233, 80, 21)

.tag-cloud
  margin-bottom: 3%

.tags-button
  margin-right: 3%
  padding: 1%
  box-shadow: 0px 3px rgb(147, 91, 220)
  background-color: rgb(199, 163, 238)
  border-radius: 6px

.tags-button a
  color: white

.tags-button a:hover
  color: rgb(92, 62, 175)

.archive-group
  padding: 2%
  background-color: rgb(253, 249, 242)
  box-shadow: 0px 5px rgb(184, 182, 181)
  border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px
  border: 1px white solid
  
.profile-image
  margin: 0px
  border-bottom-left-radius: 0px
  border-bottom-right-radius: 0px
  border-top-left-radius: 6px
  border-top-right-radius: 6px
  vertical-align: bottom

.profile-code-box
  background-color: rgb(67, 68, 76)
  color: white
  padding: 2%
  box-shadow: 0px 3px 6px rgba(59, 60, 95, 0.5)

.full table
  display: table
  width: 100%

.katex
  overflow-x: auto
  overflow-y: hidden

.rouge-table
  &, th, td, tr, pre
    font-size: inherit
    background: inherit !important
    box-shadow: none
    width: initial
    margin: 0
    padding: 0
  .gl pre
    margin: 0 1.5em 0 .25em
    opacity: .5

.highlight // https://github.com/richleland/pygments-css/blob/master/monokai.css <http://unlicense.org>
  pre
    background: rgba(lighten($dark, 6%), 0.9)
    color: white
  .c
    color: #a29f90
  .err
    color: #960050
    background-color: #1e0010
  .k
    color: #66d9ef
  .l
    color: #ae81ff
  .n
    color: #f8f8f2
  .o
    color: #f92672
  .p
    color: #f8f8f2
  .cm, .cp, .c1, .cs
    color: #75715e
  .ge
    font-style: italic
  .gs
    font-weight: bold
  .kc, .kd
    color: #66d9ef
  .kn
    color: #f92672
  .kp, .kr, .kt
    color: #66d9ef
  .ld
    color: #e6db74
  .m
    color: #ae81ff
  .s
    color: #e6db74
  .na
    color: #a6e22e
  .nb
    color: #f8f8f2
  .nc
    color: #a6e22e
  .no
    color: #66d9ef
  .nd
    color: #a6e22e
  .ni
    color: #f8f8f2
  .ne, .nf
    color: #a6e22e
  .nl, .nn
    color: #f8f8f2
  .nx
    color: #a6e22e
  .py
    color: #f8f8f2
  .nt
    color: #f92672
  .nv
    color: #f8f8f2
  .ow
    color: #f92672
  .w
    color: #f8f8f2
  .mf, .mh, .mi, .mo
    color: #ae81ff
  .sb, .sc, .sd, .s2
    color: #e6db74
  .se
    color: #ae81ff
  .sh, .si, .sx, .sr, .s1, .ss
    color: #e6db74
  .bp, .vc, .vg, .vi
    color: #f8f8f2
  .il
    color: #ae81ff
  .gu
    color: #75715e
  .gd
    color: #f92672
  .gi
    color: #a6e22e
